body {
    padding: 0.5%;
    width: 98%;
    font-family: Arial, Helvetica, sans-serif;
}

.login-container {
    margin: 0;
    text-align: center;
    width: 50%;
    height: 100%;
    background: white;
    /* border: 2px solid #000;  */
    /* border-radius: 20px;   */
    /* padding: 30px; */
    position: absolute;
    top: 0;
    right: 0%;
}

button {
    background-color: #4da6c0; 
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #3399b3; 
}

.campo {
    margin: 10px;
    width: 30%;
    height: 30px;
}

#jacarandas-prepa {
    width: 50%;
    height: 95vh;
    object-fit: cover;
}

#head {
    font-size: 30pt;
    position: relative;
    top: 15%;
}

#bienvenido {
    font-size: 20pt;
    color: #3399b3;
    position: relative;
    top: 19%
}

#form-login {
    position: relative;
    top: 23%;
}
