<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/css/creditos.css">
    <title> Créditos del proyecto</title>
</head>
<body>
    <h1> Proyecto realizado por:</h1>
    <h2> Equipo 3. Los 4P (PROgramadores PomPomPurim)</h2>

    <div id="integrantes">
        <h3> Integrantes del equipo: </h3>
        <ul>
            <li> <b> Mentor. </b> Urrutia Alfaro Isaac Arturo </li>
            <li> Cortés Castillo Luisa Helena </li>
            <li> González Hernández Regina Arantza </li>
            <li> Milla Martínez Gerardo </li>
            <li> Mora Santillán Erik Patricio </li>
            <li> Zapata González Abigail </li>
        </ul>
    </div>

    <div id="gracias">
        <p> Psdt. Gracias por todo Angie, Carlitos y mentores </p>
        <img src="../statics/imgs/chiikawa-amoroso.png" alt="chiikawa bonito" id="chiikawa">
    </div>
    <div id="imagenes">
        <ul class="animacion">
            <img src="../statics/imgs/chango-idea.jpg" alt="chango teniendo una idea así bien épica" class="imgs">
            <img src="../statics/imgs/chilemorron.png" alt="chile morrón programando así bien pro" class="imgs">
            <img src="../statics/imgs/gato-compu.jpg" alt="gato mirando a su computadora así bien pensativo" class="imgs">
            <img src="../statics/imgs/oso-hacker.jpg" alt="oso pooh hacker así bien matrix" class="imgs">
            <img src="../statics/imgs/perro-estudioso.jpg" alt="perro estudioso así bien inteligente" class="imgs">
            <img src="../statics/imgs/pompompurim.gif" alt="pompompurim haciendo merge así bien épico" class="imgs">
            <img src="../statics/imgs/chango-idea.jpg" alt="chango teniendo una idea así bien épica" class="imgs">
            <img src="../statics/imgs/chilemorron.png" alt="chile morrón programando así bien pro" class="imgs">
            <img src="../statics/imgs/gato-compu.jpg" alt="gato mirando a su computadora así bien pensativo" class="imgs">
            <img src="../statics/imgs/oso-hacker.jpg" alt="oso pooh hacker así bien matrix" class="imgs">
            <img src="../statics/imgs/perro-estudioso.jpg" alt="perro estudioso así bien inteligente" class="imgs">
            <img src="../statics/imgs/pompompurim.gif" alt="pompompurim haciendo merge así bien épico" class="imgs">
        </ul>
    </div>
</body>
</html>