<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Regina Arantza González Hernández"> 
    <meta name="description" content="Pagina de login para Orientacion educativa ETEC">
    <link rel="stylesheet" href="../statics/css/login.css">
    <title> OE ETEC</title>
</head>
<body>
    <div class="login-container">
        <h1>Login OE ETEC</h1>
        <form action="../dynamics/login.php" method="post">
            <input type="text" id="username" name="username" placeholder="Ej; 218949218" required><br><br>
            <input type="password" id="password" name="password" placeholder="contraseña" required><br><br>
            <button type="submit"> Login </button>
        </form>
    </div>
</body>
</html>