<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Regina Arantza González Hernández"> 
    <meta name="description" content="Pagina de login para Orientacion educativa ETEC">
    <link rel="stylesheet" href="../statics/css/login.css">
    <title> MetETE a estudiar </title>
</head>
<body>
    <div id="foto">
        <img src="../statics/imgs/jacarandas-prepa.jpg" alt="edificio de la prepa con jacarandas" id="jacarandas-prepa">
    </div>
    <div class="login-container">
        <h1 id="head">Login MetETE a estudiar</h1>
        <h2 id="bienvenido"> Bienvenid@ </h2>
        <form action="../dynamics/login.php" method="post" id="form-login">
            <label for="username"> No. de cuenta </label><br>
            <input type="text" id="username" name="username" placeholder="Ej; 218949218" required class="campo"><br><br>
            <label for="password"> Contraseña </label><br>
            <input type="password" id="password" name="password" placeholder="contraseña" required class="campo"><br><br>
            <button type="submit"> Login </button>
        </form>
    </div>
</body>
</html>