<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/css/material-apoyo.css">
    <title> Material de apoyo para alumnos </title>
</head>
<body>
    <header>
        <!-- parte superior: muestra los logos de la UNAM, ENP6 y ETE y botón de usuario que redirige al perfil del alumno -->
        <div id="barra-logos">
            <img src= "../statics/imgs/logo-unam.png" class="logos" alt="logo UNAM">
            <img src="../statics/imgs/logo-prepa6.png" class="logos" alt="logo prepa seis">
            <img src="../statics/imgs/logo-ete.png" class="logos" alt="logo estudios técnicos especializados">
            <a href="#"> <img src="../statics/imgs/foto-usuario.png" class="logos" alt="logo estudios técnicos especializados" id="foto-usuario"> </a>
        </div>
    </header>

    <head>
        <h1 id="titulo"> Material de apoyo <br> Estudio Técnico Especializado en Computación </h1>
    </head>

    <main>
        <section id="modulos">
            <div class="modulo">
                <img src="../statics/imgs/modulo-1.jpeg" class="imgs-modulos">
                <a href="#">
                    <h2> 1. Introducción a la computación </h2>
                </a>    
            </div>
            <div class="modulo">
                <img src="../statics/imgs/modulo-2.jpeg" class="imgs-modulos">
                <a href="#">
                    <h2> 2. Sistemas operativos </h2>
                </a>    
            </div>
            <div class="modulo">
                <img src="../statics/imgs/modulo-1.jpeg" class="imgs-modulos">
                <a href="#">
                    <h2> 3. Aplicaciones de uso general </h2>
                </a>
            </div>
            <div class="modulo">
                <img src="../statics/imgs/modulo-4.jpeg" class="imgs-modulos">
                <a href="#">
                    <h2> 4. Solución de problemas y técnicas de computación </h2>
                </a>
            </div>
            <div class="modulo">
                <img src="../statics/imgs/modulo-5.jpeg" class="imgs-modulos">
                <a href="#">
                    <h2> 5. Programación estructurada </h2>
                </a>
            </div>
        </section>

        <section id="material-extra">
            <div class="card">
                <a href="#">
                    <img src="../statics/imgs/computadora-azul.png" alt="computadora-azul" class="cover"> 
                    <h2 class="texto-card"> PLAN DE ESTUDIOS </h2>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img src="../statics/imgs/prepa-azul.png" alt="computadora-azul" class="cover"> 
                    <h2 class="texto-card"> ESTRATEGIAS DE ESTUDIO </h2>
                </a>
            </div>
        </section>
    </main>
</body>
</html>