<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Regina Arantza González Hernández">
    <meta name="description" content="Pagina de registro para Orientacion educativa ETEC">
    <link rel="stylesheet" href="/statics/css/registro_usuarios.css">
    <title>Document</title>
</head>
<body>
    <div class="registro-container">
    <h1>Modificar usuarios OE ETEC</h1>
    <form action="/dynamics/modificar.php" method="post">
        <input type="text" id="username" name="username" placeholder="No. Cuenta" required><br><br>
        <input type="password" id="password" name="password" placeholder="Contraseña actual" required><br><br>
        <input type="text" id="name" name="name" placeholder="Nombre completo actual" required><br><br>
        <input type="text" id="new_username" name="new_username" placeholder="Nuevo No. Cuenta" required><br><br>
        <input type="password" id="new_password" name="new_password" placeholder="Nueva contraseña" required><br><br>
        <input type="text" id="new_name" name="new_name" placeholder="Nuevo nombre completo" required><br><br>
        <button type="submit"> Modificar </button>
    </form>
    </div>
</body>