<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Regina Arantza González Hernández">
    <meta name="description" content="Pagina de registro para Orientacion educativa ETEC">
    <link rel="stylesheet" href="/statics/css/registro_usuarios.css">
    <title>Document</title>
</head>
<body>
    <div class="registro-container">
        <h1>Registro de usuarios OE ETEC</h1>
        <form action="../../dynamics/registro.php" method="post">
            <input type="text" id="username" name="username" placeholder="Ej; 218949218" required><br><br>
            <input type="password" id="password" name="password" placeholder="contraseña" required><br><br>
            <input type="text" id="name" name="name" placeholder="Nombre completo" required><br><br>
            <p> Grupo </p>
            <input type="radio" name="grupo" value="2"><label for="61D"> 61D </label><br>
            <input type="radio" name="grupo" value="1"><label for="61B"> 61B </label><br>
            <p> Plantel </p>
            <input type="radio" id="opc1" name="plantel" value="1"><label for="opc1"> ENP 1 </label><br>
            <input type="radio" id="opc2" name="plantel" value="2"><label for="opc2"> ENP 2 </label><br>
            <input type="radio" id="opc3" name="plantel" value="3"><label for="opc3"> ENP 3 </label><br>
            <input type="radio" id="opc4" name="plantel" value="4"><label for="opc4"> ENP 4 </label><br>
            <input type="radio" id="opc5" name="plantel" value="5"><label for="opc5"> ENP 5 </label><br>
            <input type="radio" id="opc6" name="plantel" value="6"><label for="opc6"> ENP 6 </label><br>
            <input type="radio" id="opc7" name="plantel" value="7"><label for="opc7"> ENP 7 </label><br>
            <input type="radio" id="opc8" name="plantel" value="8"><label for="opc8"> ENP 8 </label><br>
            <input type="radio" id="opc9" name="plantel" value="9"><label for="opc9"> ENP 9 </label><br>
            <p> ETE </p>
            <input type="radio" id="compu" name="ete" value="1"><label for="compu"> Computación </label><br>
            <input type="radio" id="fotografo" name="ete" value="2"><label for="fotografo"> Auxiliar Fotógrafo Laborista y Prensa </label><br>
            <input type="radio" id="viajes" name="ete" value="3"><label for="viajes"> Agencia de Viajes y Hotelería </label><br>
            <input type="radio" id="contabilidad" name="ete" value="4"><label for="contabilidad"> Auxiliar en Contabilidad </label><br>
            <input type="radio" id="ingles" name="ete" value="5"><label for="ingles"> Enseñanza de Inglés </label><br>
            <input type="radio" id="laboratorista" name="ete" value="6"><label for="laboratorista"> Auxiliar Laboratorista Químico </label><br>
            <input type="radio" id="dibujo" name="ete" value="7"><label for="dibujo"> Auxiliar en Dibujo Arquitectónico </label><br>
            <input type="radio" id="bancario" name="ete" value="8"><label for="bancario"> Auxiliar Bancario </label><br>
            <input type="radio" id="histopatologia" name="ete" value="9"><label for="histopatologia"> Histopatología </label><br>
            <input type="radio" id="museografo" name="ete" value="10"><label for="museografo"> Auxiliar Museógrafo Restaurador </label><br>
            <input type="radio" id="nutriologo" name="ete" value="11"><label for="nutriologo"> Auxiliar Nutriólogo </label><br>
            <button type="submit"> Registrar </button>
        </form>
    </div>
</body>
</html>